<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128901629798-mdo6gqmfvkmtqu4705001lgdcvofoe3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128901629798-mdo6gqmfvkmtqu4705001lgdcvofoe3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAuy90u-chu7kXApbD8H8D_IRtAtgy2EF8</string>
	<key>GCM_SENDER_ID</key>
	<string>128901629798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jason.Zhu.StayBus</string>
	<key>PROJECT_ID</key>
	<string>staybus1-c335c</string>
	<key>STORAGE_BUCKET</key>
	<string>staybus1-c335c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128901629798:ios:715b9d9ba2675d2009eaa7</string>
	<key>DATABASE_URL</key>
	<string>https://staybus1-c335c-default-rtdb.firebaseio.com</string>
</dict>
</plist>